:root {
  --c-accent: #73bcee;
  --c-panelBg: #eff6fc;
  --c-panelBorder: #cfe0ee;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}



.accordion-button{
  --c-expandedBg: #b3defa;
  --c-expandedBgShadow: #8fd2ff;
}

.accordion-button:not(.collapsed) {
  background-color: var(--c-expandedBg) !important;
}

.accordion-button:link, .accordion-button:visited, .accordion-button:hover, .accordion-button:active  {
  background-color: var(--c-expandedBg) !important;
}

.accordion-button:focus {
  z-index: 3;
  border-color: rgb(0, 255, 234) !important;
  outline: 0;
  box-shadow: 0 0 0 .25rem var(--c-expandedBgShadow) !important;
}

